@font-face {
	font-family: "PT Sans";
	font-weight: 400;
	font-style: normal;
	src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
	font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

.advantages {
	margin-top: 90px;
}

.benefits__item {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
}

html {
	background: #F2F2F2;
}

body {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: min-content 1fr min-content;
	width: 1200px;
	min-height: 100vh;
	margin: 0 auto;
	font-family: "PT Sans";
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
	background-color: #FFFFFF;
}

.page-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 70px 0 70px;
}

.header-nav {
	display: flex;
}

.menu {
	padding: 3px 0 0 44px;
	display: flex;
}

.menu-item a {
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	color: #000000 ;
	text-decoration: none;
}
.menu-item a:hover {
	color: #7DB54F;
	transition: 1s;
}
.menu-item a:focus{
	color: #7DB54F;
}
.menu-item a:active{
	color: #7DB54F;
}

.menu-item {
	list-style-type: none;
	margin-right: 32px;

}
.houm{
	border-bottom:2px solid #756257 ;
}

.search {
	margin-right: 18px;
	text-decoration: none;
}

.text {
	margin-top: 58px;
}

.search img {
	margin-top: -5px;
}

.favorite {
	position: relative;
	margin-right: 32px;
	text-decoration: none;
}

.favorite-number {
	font-family: 'PT Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 10px;
	line-height: 10px;
	color: #fff;
	background: #7DB54F;
	border-radius: 10px;
	width: 20px;
	height: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	right: -7px;
	top: -15px;
}

.icons {
	margin-top: -10px;
	align-items: center;
}

.welcome {
	display: flex;
	justify-content: center;
	background: url(../imgs/index-background.jpg) no-repeat;
	height: 485px;
	position: relative;
	top: -10px;
	background-color: #FFFFFF;
}

.welcome-img {
	margin-top: 50px;
	height: 352px;
}

.header-button {
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	background: #756157;
	border-radius: 4px;
	color: #FFFFFF;
	text-decoration: none;
	padding: 8px 34px;
	text-transform: uppercase;
}

.header-button:hover {
	background: #615048;
}

.header-button:focus {
	background: #615048;
}

.header-button:active {
	background: #756157;
	color: rgba(255, 255, 255, 0.3);
}

.text-heading {
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	text-align: center;
	text-transform: uppercase;
}

.text-paragraph {
	font-style: normal;
	font-weight: 400;
	font-size: 22px;
	line-height: 26px;
	text-align: center;
}

.advantages-wrapper {
	height: 181px;
	padding: 92px 85px 111px;
}

.advantages-title {
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	color: #FFFFFF;
	text-transform: uppercase;
	text-align: center;
	margin-top: 0;
}

.advantages-paragraph {
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	color: #FFFFFF;
	text-align: center;
	margin-top: 62px;
}

.advantages-item-heading {
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	text-align: center;
	margin: 0 auto;
	text-transform: uppercase;
	padding: 0 24px;
}

.advantages-item-text {
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
	margin: 0;
	margin-top: 62px;
}

.advantages-inform__title {
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
}

.advantages-inform__description {
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
}

.benefits__title {
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	margin-top: 31px;
	margin-bottom: 0;
	text-transform: uppercase;
}

.benefits__description {
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
	margin: 27px auto 0;
}

.benefits__description-food {
	margin-top: 33px;
}

.offer__title {
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	text-align: center;
	text-transform: uppercase;
	margin-top: 96px;
	margin-bottom: 0;
}

.offer__description {
	font-weight: 400;
	font-size: 22px;
	line-height: 26px;
	text-align: center;
	margin-top: 20px;
}

.offer__button {
	font-weight: 700;
	font-size: 20px;
	line-height: 36px;
	background: #756157;
	border-radius: 4px;
	text-align: center;
	padding: 8px 50px;
	color: #FFFFFF;
	text-transform: uppercase;
	text-decoration: none;
	margin: 0 auto;
	display: block;
	width: 376px;
	min-height: 52px;
	margin-top: 54px;
	margin-bottom: 96px;
}

.offer__button:hover {
	background: #615048;
}

.offer__button:focus {
	background: #615048;
}

.offer__button:active {
	background: #756157;
}
.subscribe{
	background: #FFFFFF;
}

.subscribe__title {
	margin: 0;
	color: #fff;
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	text-align: center;
	text-transform: uppercase;
}

.subscribe__description {
	margin: 23px auto 50px;
	font-weight: 400;
	font-size: 22px;
	line-height: 26px;
	text-align: center;
	color: #FFFFFF;
}

.e-maill__input {
	font-family: "PT Sans";
	width: 452px;
	height: 52px;
	background: #f2f2f2;
	border-radius: 4px 0 0 4px;
	border-color: transparent;
	outline: none;
	padding: 14px 20px;
}

.e-maill__input:focus {
	background: #E6E6E6;
}

.e-maill__input:hover {
	background: #E6E6E6;
}

.e-maill__input:active {
	background: #F2F2F2;
	border: 2px solid #000000;
	border-radius: 4px;
}

.e-maill__input::placeholder {
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
}

.subscribe__button {
	font-family: "PT Sans";
	font-weight: 700;
	font-size: 20px;
	line-height: 36px;
	text-transform: uppercase;
	color: #FFFFFF;
	background: #82b3d3;
	border-radius: 0 4px 4px 0;
	border-color: transparent;
	padding: 4px 48px;
}

.subscribe__button:hover {
	background: #68A2CA;
}

.subscribe__button:focus {
	background: #68A2CA;
}

.subscribe__button:active {
	background: #68A2CA;
}

.advantages-list {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style: none;
}

.advantages-item {
	width: 33.33%;
}

.advantages-item-small {
	height: 384px;
	padding: 103px 83px 121px;
}

.advantages-item-photo {
	width: 100%;
	background: #82b3d3;
	display: flex;
	flex-wrap: wrap;
}

.benefits {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
	background: #fff;
}

.benefits__item {
	margin-top: 0;
	padding: 80px 85px;
	width: 33.33%;
}

.advantages-item:nth-child(3) {
	background: rgba(131, 179, 211, 0.2);
}

.benefits__item:nth-child(odd) {
	background: rgba(131, 179, 211, 0.12);
}

.advantages-wrapper {
	width: 33.33%;
}

.advantages-picture {
	width: 66.66%;
}

.email-form {
	display: flex;
	justify-content: center;
}

.footer {
	padding: 45px 70px 45px 81px;
	height: 120px;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-content: space-between;
	align-items: center;
}

.socials {
	margin: 0;
	padding: 0;
	grid-column: 1/2;
	display: flex;
	align-items: center;
}

.socials__item {
	list-style-type: none;
	margin-right: 27px;
}

.footer-phone {
	margin-left: 17px;
	grid-column: 2/3;
	font-weight: 400;
	font-size: 40px;
	line-height: 40px;
	text-decoration: none;
	color: #000000;
}

.footer-phone:hover {
	color: #756157;
}

.footer-phone:focus {
	color: #756157;
}

.footer-phone:active {
	color: rgba(117, 97, 87, 0.3);
}

.footer-copyright {
	grid-column: 3/4;
	justify-self: end;
}

.footer-copyright path {
	fill: #000000;
}

.footer-copyright:hover path {
	fill: #756157;
}

.footer-copyright:focus path {
	fill: #756157;
}

.footer-copyright:active path {
	fill: rgba(117, 97, 87, 0.3);
}

.subscribe {
	background: url(../imgs/feedback-bg.jpg) no-repeat center center;
	padding: 96px 260px 106px;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	overflow: hidden;
}

.margin-data-tesst {
	margin-top: 75px;
}

.socials__link svg {
	fill: #83B3D3;
}

.socials__link:hover svg {
	fill: #68A2CA;
}

.socials__link:focus svg {
	fill: #68A2CA;
}

.socials__link:active svg {
	fill: rgba(104, 162, 202, 0.3);
}




/* modal styles */

.modal_backgound {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	background: rgba(242, 242, 242, 0.8);
}

.modal {
	position: fixed;
	left: 50%;
	top: 50%;
	padding: 64px 70px;
	background: #FFFFFF;
	box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
	border-radius: 30px;
	transform: translate(-50%, -50%);
	z-index: 11;
	height: 576px;
	width: 717px;
}

.modal__title {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	text-transform: uppercase;
	color: #000000;
	margin: 0;
}

.modal__close {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 64px;
	right: 52px;
	height: 52px;
	width: 52px;
	background: #F2F2F2;
	border-radius: 100%;
	outline: none;
	border-color: transparent;
	cursor: pointer;
}

.modal__content {
	margin-top: 64px;
}
/* modal-form styles */
.form__row {
	width: 100%;
	margin-top: 23px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.form__row--last {
	margin-top: 48px;
}

.form__col {
	width: calc(50% - 44px);
	display: flex;
	align-items: center;
}

.form__submit {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100%;
	height: 60px;
	background: #83B3D3;
	border-radius: 10px;
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	color: #FFFFFF;
	border-color: transparent;
	outline: none;
	cursor: pointer;
}

.form__label {
	display: flex;
	width: 137px;
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	text-transform: capitalize;
	color: #000000;
}

.form__input {
	font-family: "PT Sans";
	display: block;
	width: calc(100% - 137px);
	height: 48px;
	border-radius: 4px;
	border-color: transparent;
	outline: none;
	padding: 12px 20px;
	color: #000000;
	font-weight: 700;
	font-size: 18px;
	line-height: 24px;
	background-color: #F2F2F2;
}

.form__input.date {
	background-image: url(../imgs/input_calendar.svg);
	background-repeat: no-repeat;
	background-position: right 20px center;
}

.form__input.number {
	background-color: #F2F2F2;
	padding: 0;
	text-align: center;
	height: 48px;
	width: 34px;
}

.form__popover-text {
	display: none;
}

.form__note {
	margin-bottom: 0;
	margin-left: 157px;
	margin-top: 4px;
	font-size: 16px;
	line-height: 21px;
	color: #FF5757;
}

.form__note--grey {
	color: #333333;
}

.form__minus,.form__plus {
	width: 38px;
	height: 48px;
	background: #F2F2F2;
	border: none;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.form__popover-button {
	background: #83B3D3;
	width: 26px;
	height: 26px;
	border: none;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 10px;
	border-radius: 100%;
}

.hidden {
	display: none;
}
