@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
}
@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
.benefits__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.benefits__picture {
}
body {
  display:grid;
  grid-template-columns: 100%;
  grid-template-rows: min-content 1fr min-content;
  width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  font-family: "PT Sans";
}
.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-nav {
  display: flex;
}
.menu {
  display: flex;
}
.menu-item a {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: black;
  text-decoration: none;
}
.menu-item {
  list-style-type: none;
  margin-right: 32px;
}
.search {
  margin-right: 25px;
  text-decoration: none;
}
.favorite {
  margin-right: 32px;
  text-decoration: none;
}
.iconki {
  align-items: center;
}
.welcome {
  display: flex;
  justify-content: center;
  background: url(../imgs/index-background.jpg) no-repeat;
  height: 485px;
  position: relative;
  top: -10px;
  z-index: -1;
}
.welcome-img {
  margin-top: 50px;
  height: 352px;
}
.header-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  background: #756157;
  border-radius: 4px;
  color: white;
  text-decoration: none;
  padding: 8px 34px;
  text-transform: uppercase;
}
.text-heading {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}
.text-paragraph {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}
.advantages-wrapper {
  padding: 92px 85px 111px;
}
.advantages-title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: white;
  text-transform: uppercase;
  text-align: center;
}
.advantages-paragraph {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: white;
  text-align: center;
}
.advantages-item-heading {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  margin: 0;
  text-transform: uppercase;
  padding: 0 24px;
}
.advantages-item-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin: 0;
  margin-top: 62px;
}

.advantages-inform__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}
.advantages-inform__description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
.benefits__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin-top: 31px;
  margin-bottom: 0;
}
.benefits__description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin: 30px;
}
.offer__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 96px;
  margin-bottom: 0;
}
.offer__description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin-top: 20px;
}
.offer__button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  background: #756157;
  border-radius: 4px;
  text-align: center;
  padding: 8px 50px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0 auto;
  display: block;
  width: 376px;
  height: 52px;
  margin-top: 54px;
  margin-bottom: 96px;
}
.subscribe__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}
.subscribe__description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: white;
}
.e-maill__input {
  width: 452px;
  height: 52px;
  background: #f2f2f2;
  border-radius: 4px 0 0 4px;
  border-color: transparent;
  outline: none;
  padding: 14px 20px;
}
.e-maill__input::placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}
.subscribe__button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: white;
  background: #82b3d3;
  border-radius: 0 4px 4px 0;
  border-color: transparent;
  padding: 8px 50px;
}
.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}
.advantages-item {
  width: 33.33%;
}
.advantages-item-small {
  padding: 135px 85px 121px;
}
.advantages-item-photo {
  width: 100%;
  background: #82b3d3;
  display: flex;
  flex-wrap: wrap;
}
.benefits {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  background: #fff;
}
.benefits__item {
  padding: 80px 85px;
  width: 33.33%;
}
.advantages-item:nth-child(3) {
  background: rgba(131, 179, 211, 0.2);
}
.benefits__item:nth-child(odd) {
  background: rgba(131, 179, 211, 0.12);
}
.advantages-wrapper {
  width: 33.33%;
}
.advantages-picture {
  width: 66.66%;
}
.email-form {
  display: flex;
  justify-content: center;
}
.footer {
  height: 120px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  align-items: center;
}
.socials {
  grid-column: 1/2;
  display: flex;
  align-items: center;
}
.socials__item {
  list-style-type: none;
  margin-right: 27px;
}
.footer-phone {
  grid-column: 2/3;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: black;
}
.footer-copyright{
  grid-column: 3/4;
  justify-self: end;
}
.subscribe {
  background: url(../imgs/feedback-bg.jpg) no-repeat center center;
  padding: 100px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
